/* .container{
    padding: 20px 40px; 
    width: 100%;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
@media (max-width: 600px) {
    .one {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }
}
.sup{ 
    font-weight: bold;
}
.right{
    display: flex;
    gap: 15px;
}

.two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(194, 215, 232);
}  */
/* .names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}
.first{
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
    border: 1px solid black;
} 
.suppdata{
    background-color: white; 
    border-radius: 20px;
    border: 1px solid black;
    padding: 0px 15px;
}
 

.popup{
    background-color: white;
}

*/

#supplier{
    padding: 13px 26px;
    border-radius: 16px;
    border: 1px solid rgba(37, 99, 235, 1);
    background-color: rgba(248, 250, 252, 1);
}
#addbutt{
    border-radius: 16px;
    border: none;
    background-color: rgba(37, 99, 235, 1);
    padding: 10px 20px;
    color: white;
}
.container{
    background-color: rgba(248, 250, 252, 1);
}
tr{
    border: 1px solid rgba(241, 245, 249, 1);
}
thead tr{
    background-color: rgb(194, 215, 232);
}
.suppdata thead{
    background-color: rgb(231, 230, 230);
}
.suppdata th,.suppdata td{
    padding: 5px 10px;
    /* border: 1px solid rgb(225, 225, 225); */
}
.names th{
    /* border: 1px solid black; */
    color: rgba(100, 116, 139, 1);
}
.suppdata td{
    font-size: 15px;
}
.addSupplier{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    /* position: absolute; */
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 35;
    
}
form{
    background-color: rgb(146, 190, 228);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
}
form input{
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid green;
    border: 1px solid white;
}
input:focus {
    border: 2px solid green;
    outline: none; 
}
.submit,.modify,.reset{
    background-color: rgba(37, 99, 235, 1);
    color: white;
}